:root {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --item-background-color: #121212;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.top-text {
    text-align: center;
    background-color: var(--item-background-color);
    padding: 10px;
    width: 400px;
}

.top-text .top-buttons {
    padding-bottom: 20px;
}

.top-text h1 {
    font-size: 30px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 900;
}

.info div {
    background-color: var(--item-background-color);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: 10px; 
}

.info div button {
    text-decoration: none;
    background-color: var(--item-background-color);
    border: 2px solid var(--text-color);
    padding: 10px 40px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 900;
    font-size: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.info div button:hover {
    text-decoration: underline;
}

.info {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.oppsett,
.variabler,
.vanligeFeil,
.tipsOgTriks {
    background-color: var(--item-background-color);
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 20px;
}


.box-oppsett {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.box-oppsett div{
    flex: 1;
    padding: 10px;
}

.box-oppsett .text-oppsett p {
    font-size: 16px;
    text-align: center;
}



.images-oppsett-1 img, .images-oppsett-2 img, .images-oppsett-3 img, .images-oppsett-4 img, .images-oppsett-5 img {
    border-radius: 5px;
    width: 100%;
}

.images-oppsett-5 img {
    width: 50% !important;
}

.images-oppsett-1, .images-oppsett-2, .images-oppsett-3, .images-oppsett-4, .images-oppsett-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.box-oppsett div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#css {
    color: #A8763F;
}

#html {
    color: #346CA1;
}

#variabler  {
    color: orange;
}


